<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="Agot2ClientUpdaterSettings" type="Updater.Settings, UpdaterServer" />
    <section name="NotifiClientUpdaterSettings" type="Updater.Settings, UpdaterServer" />
    <section name="GameService" type="GameService.ConfigSettings, GameServicePublic" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="htmlTemplatePath" value="email.html"/>
  </appSettings>

  <Agot2ClientUpdaterSettings ServerAddress="194.28.30.195:6999" AppPath="G:\agotOnlineServer\agot2Client" AppName="Agot2Client.exe" />
  <NotifiClientUpdaterSettings ServerAddress="194.28.30.195:6999" AppPath="G:\agotOnlineServer\notifiClient" AppName="NotifiClient.exe" />
  <GameService ServerAddress="194.28.30.195" ServerPort="6999"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <add name="Agot2p6Entities" connectionString="metadata=res://*/GameService.Model.csdl|res://*/GameService.Model.ssdl|res://*/GameService.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Agot2p6;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamePortalEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GamePortal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MaxBinding" maxReceivedMessageSize="9223372036854775807" transferMode="Streamed">
          <readerQuotas maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="MaxBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>

        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Wrapped" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="Agot2Server.Service">
        <endpoint address="http://194.28.30.195:6999/Service" behaviorConfiguration="MaxBehavior" binding="basicHttpBinding" bindingConfiguration="MaxBinding" contract="GameService.IService" />
      </service>

      <service name="GamePortal.GamePortalServer">
        <endpoint address="http://194.28.30.195:6999/GamePortal" behaviorConfiguration="MaxBehavior" binding="basicHttpBinding" bindingConfiguration="MaxBinding" contract="GamePortal.IGamePortalServer" />
      </service>

      <service name="Notifications.NotifiServer">
        <endpoint address="http://194.28.30.195:6999/NotifiServer" behaviorConfiguration="MaxBehavior" binding="basicHttpBinding" bindingConfiguration="MaxBinding" contract="Notifications.INotifiServer" />
      </service>

      <service name="Updater.UpdaterServer">
        <endpoint behaviorConfiguration="MaxBehavior" binding="basicHttpBinding" bindingConfiguration="MaxBinding" contract="Updater.IUpdaterServer" />
      </service>

      <service name="GameService.GameService">
        <endpoint behaviorConfiguration="MaxBehavior" binding="basicHttpBinding" bindingConfiguration="MaxBinding" contract="GameService.IGameService" />
      </service>

      <service name="Yandex.YandexService">
        <endpoint address="http://194.28.30.195:6999/YandexService" binding="webHttpBinding" contract="Yandex.IYandexService" />
      </service>

      <service name="PayPal.PayPalService">
        <endpoint address="http://localhost:6666/PayPalService" binding="webHttpBinding" contract="PayPal.IPayPalService" />
      </service>

      <service name="GamePortal.WebService">
        <endpoint address="http://localhost:6666/GamePortalWeb" binding="webHttpBinding" contract="GamePortal.IWebService" behaviorConfiguration="web" />
      </service>

      <service name="Agot2Server.WebHttpService">
        <endpoint address="http://194.28.30.195:6999/WebHttpService/" binding="webHttpBinding" contract="Agot2Server.IWebHttpService" behaviorConfiguration="web" />
      </service>
    </services>
  </system.serviceModel>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="smtp.mail.ru" port="587" userName="" password="" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
