<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>    
    <services>

      <service name="YandexService.YandexService">
        <endpoint address="" binding="basicHttpBinding" contract="YandexService.IYandexService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://lantsev1981.pro:6999/YandexService"/>
          </baseAddresses>
        </host>
      </service>

    </services>
  </system.serviceModel>
  
</configuration>